{% extends 'base.html' %} {% block content %}
<h1>Agregar Producto</h1>

<form action="{{ url_for('add_product') }}" method="POST">
  <div>
    <label>Nombre:</label>
    <input type="text" name="nombre" required />
  </div>
  <div>
    <label>Descripción:</label>
    <textarea name="descripcion"></textarea>
  </div>
  <div>
    <label>Precio:</label>
    <input type="number" step="5" name="precio" required />
  </div>
  <div>
    <label>Stock:</label>
    <input type="number" name="stock" required />
  </div>
  <button class="button-save" type="submit">Guardar</button>
</form>
{% endblock %}
